@{
    Layout = "_TeacherLayout";
}

<div class="container py-4">
    <h2 class="fw-bold">Teacher Dashboard</h2>
    <p>Welcome, @ViewBag.FullName 👋</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card shadow-sm rounded-4 p-3 text-center">
                <h6 class="fw-semibold">Assigned Students</h6>
                <h3 class="fw-bold" style="color:#8C5DD1;">
                    @ViewBag.AssignedStudentsCount
                </h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm rounded-4 p-3 text-center">
                <h6 class="fw-semibold">Projects Under Supervision</h6>
                <h3 class="fw-bold text-success">
                    @ViewBag.ProjectsCount
                </h3>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm rounded-4 p-3 text-center">
                <h6 class="fw-semibold">Companies Assigned</h6>
                <h3 class="fw-bold" style="color:#8C5DD1;">
                    @ViewBag.CompaniesCount
                </h3>
            </div>
        </div>
    </div>
</div>
